# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
*.hdf5
projetcs/ODD/plot_optimization_summary_OLD_FILE.py
projetcs/ODD/test.py
util/get_transform_limited_phase_nidaqmx - Copy.py
util/get_transform_limited_phase_nidaqmx.py
util/get_transform_limited_phase_nidaqmx_polynom.py
util/test.py
projetcs/ODD_pulse_shaper/plot_optimization_summary_OLD_FILE.py
projetcs/ODD_pulse_shaper/test.py
util/get_transform_limited_phase_MIIPS/miips_scans/test.py
util/get_transform_limited_phase_MIIPS/test.py
